<div id="<%= dom_id page %>">
  <p>
    <strong>Machine name:</strong>
    <%= page.machine_name %>
  </p>

  <p>
    <strong>Cell type:</strong>
    <%= page.cell_type_id %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= page.public %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= page.active %>
  </p>

  <p>
    <strong>Removable:</strong>
    <%= page.removable %>
  </p>

</div>
